<suit name="FreeCRM Application">

	<listeners>
		<listener class-name="com.selenium.qa.ExtentReportListener.ExtentReporterNG" />
	</listeners>

	<test name="FreeCRM App Test">

		<classes>
			<class name="com.selenium.qa.test.LoginPageTest"></class>
			<class name="com.selenium.qa.test.HomePageTest"></class>
			<class name="com.selenium.qa.test.ContactsPageTest"></class>
		</classes>

	</test>
</suit>